/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Bree serif';
  color: #ffffff;
}
